<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="itemName">상품명</label>
            <!-- th:field는 th:object 객체의 멤버변수 값으로 지정할 수 있으며, 이 값은 id, name 속성에 같이 입력되므로 생략할 수 있습니다. -->
            <input
                    type="text"
                    id="itemName"
                    th:field="*{itemName}"
                    class="form-control"
                    placeholder="이름을 입력하세요"
            >
        </div>
        <div>
            <label for="price">가격</label>
            <input
                    type="text"
                    id="price"
                    th:field="*{price}"
                    class="form-control"
                    placeholder="가격을 입력하세요"
            >
        </div>
        <div>
            <label for="quantity">수량</label>
            <input
                    type="text"
                    id="quantity"
                    th:field="*{quantity}"
                    class="form-control"
                    placeholder="수량을 입력하세요"
            >
        </div>

        <hr class="my-4">
        <!-- single checkbox -->
        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <!-- th:field를 체크박스에서 사용하는 경우, _open이라는 id로 hidden field를 자동으로 추가합니다.-->
                <input type="checkbox" id="open" th:field="*{open}" name="open" class="form-check-input">
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>

        <!-- multi checkbox -->
        <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <!-- *{regions}는 form 태그의 item의 변수입니다. -->
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
                <!-- thymeleaf에서 루프를 돌 떄 id를 기본적으로 부여하기 때문에, 동적으로 id 생성에 대한 처리가 가능합니다. -->
                <!-- th:field를 체크박스에서 사용하는 경우, 단일 체크박스와 같이 _regions id로 hidden field를 자동으로 추가합니다.-->
                <label th:for="${#ids.prev('regions')}" th:text="${region.value}" class="form-check-label">서울</label>
            </div>
        </div>

        <!-- radio button -->
        <div>
            <div>상품 종류</div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <!-- 라디오버튼의 경우는, hidden field가 따로 추가되지 않습니다. 선택하지 않으면 null로 반환됩니다. -->
                <label th:for="${#ids.prev('itemType')}" th:text="${type.getDescription()}" class="form-check-label">
                    BOOK
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>


    </form>

</div> <!-- /container -->
</body>
</html>